{{ define "main" }}

<main class="main-content bg-gray">

<section id="lity" class="section">
  <div class="container"> <div style="margin: auto; padding-right: 10%; padding-left: 5%"></div>
    
        <div dir="rtl" style="padding-right: 12%;" class="page-heading mt-7 mb-6 text-right"> 
         <h4 class="badge badge-pale badge-danger lead-1 font-weight: 600"><a href="{{ .Page.Permalink }}">{{ T "apps" }}<span class="badge badge-pale badge-danger lead-1 font-weight: 600">{{ $count := len .Pages }}{{ $count }} اپ</span></a></h4>
      </div>
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "apps") }}

    {{ range $paginator.Pages }}
    {{ $page := . }}

    <div dir="rtl" class="row gap-y align-items-center mb-8 text-right">

      <div class="col-lg-5 mr-auto">
        <h4 class="fw-600"><a href="{{ .Page.Permalink }}">{{ .Title }}</a></h4>

        {{ if .Params.summary }}
          <p class="lead-1">{{ .Params.summary }}</p>
        {{ else }}
          <p class="summary">{{ .Summary }}</p>
        {{ end }}

        
    <h4>امکانات</h4>

   <div class="app-footer">

    <ul class="app-features">
        {{ range .Params.features }}
            <li>{{ . }}</li>
        {{ end }}
    </ul>

    <a class="btn btn-round btn-primary" href="{{ .Page.Permalink }}">
        دانلود برنامه
    </a>

</div>
      </div>

      {{ with .Params.gallery }}
      <div class="col-lg-6">

        <div class="gallery gallery-4-type4">

          <!-- عکس اول -->
          {{ with index . 0 }}
          <a class="gallery-item"
             href="{{ . }}"
             data-provide="lightbox"
             data-gallery="property-{{ $page.File.UniqueID }}">
            <img src="{{ . | relURL }}" alt="">
          </a>
          {{ end }}

          <div class="gallery-item-group">

            <!-- عکس دوم تا چهارم -->
            {{ range first 3 (after 1 .) }}
            <a class="gallery-item"
               href="{{ . }}"
               data-provide="lightbox"
               data-gallery="property-{{ $page.File.UniqueID }}">
              <img src="{{ . | relURL }}" alt="">
            </a>
            {{ end }}

          </div>

         
        </div>
{{ end }}
      </div>
      

    </div>

    {{ end }}

    <!-- صفحه‌بندی -->
    <div class="row">
      <div class="col-12 text-center">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>

  </div>
</section>

</main>

{{ end }}
