{{ define "main" }}
<!-- Main Content -->
<main class="main-content">
  <section class="section pb-5 pt-2">
    <div dir="rtl" class="container">

     

      <div style="margin: auto; padding-right: 10%; padding-left: 5%">
        <div dir="rtl" class="row gap-y">

<!-- modify this form HTML and place wherever you want your form -->
<form action="https://formbold.com/s/3KpZA" method="POST">
  <input type="email" placeholder="ایمیل" name="email">
  <input type="text" placeholder="موضوع" name="subject">
  <textarea name="message" placeholder="پیام خود را بنویسید"></textarea>

  <!-- your other form fields go here -->
  <button type="submit">ارسال پیام</button>
</form>

      </div>


    </div>
  </section>
</main>




{{ end }}

