{{ define "main" }}
<!-- Main Content -->
<main class="main-content">
  <section class="section pb-5 pt-2">
    <div dir="rtl" class="container">

     

      <div style="margin: auto; padding-right: 10%; padding-left: 5%">
        <div dir="rtl" class="row gap-y">
          <div class="col-md-6 text-right news">
 <div class="form-group">
             <form action="https://formbold.com/s/3KpZA" method="POST">
         <div class="form-group col-md-6">     
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ایمیل">      
    <small id="emailHelp" class="form-text text-muted"></small>
            </div>
               <div class="form-group col-md-6">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="موضوع" name="subject">
               </div>
                <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="پیام خود را بنویسید" ></textarea>             
                <!-- your other form fields go here -->
                <button type="submit" class="btn btn-primary">ارسال پیام</button>
             
              </form>
</form>  </div>
      </div>


    </div>
  </section>
</main>




{{ end }}

