{{ define "main" }}
<!-- Main Content -->
<main class="main-content">
  <section class="section pb-5 pt-2">
    <div dir="rtl" class="container">

     

      <div style="margin: auto; padding-right: 10%; padding-left: 5%">
        <div dir="rtl" class="row gap-y">
 <div class="form-group">
              <!-- modify this form HTML and place wherever you want your form -->
              <form act<label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>ion="https://formbold.com/s/3KpZA" method="POST">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="موضوع" name="subject">
                <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="پیام خود را بنویسید" ></textarea>             
                <!-- your other form fields go here -->
                <button type="submit" class="btn btn-primary">ارسال پیام</button>
             
              </form>
</form>
      </div>


    </div>
  </section>
</main>




{{ end }}

