<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ .Description | default .Site.Params.description }}">
  <meta name="author" content="{{ .Site.Params.author }}">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <!-- Styles -->
  <link href="/css/page.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/fork-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@v3.4.0/dist/font-face.css" rel="stylesheet"
    type="text/css" />
  <!-- Favicons -->
  <link rel="shortcut icon" {{ if .Site.Params.faviconfile }} href="/{{ .Site.Params.faviconfile }}" {{ else }}
    href="/img/favicon.ico" {{ end }}>
</head>
<body>
 <nav dir="rtl" id="spotify-player" class="navbar navbar-expand-lg navbar-dark shadow-2 navbar-stick-dark pt-0 stick spotify-player text-center" data-navbar="sticky">
      

   <nav class="nav nav-navbar">
        <span class="padding-left: 50%;text-light">قطعه‌ای را انتخاب کنید </span>
      </nav>

<script>
  function toPersianDigits(num) {
    const persianDigits = ['۰', '۱', '۲', '۳', '۴', '۵', '۶', '۷', '۸', '۹'];
    return num.toString().replace(/\d/g, digit => persianDigits[digit]);
  }
function selectTrack(title, artist, url, element) {
  document.querySelectorAll('.spotify-track').forEach(t => t.classList.remove('active'));
  element.classList.add('active');

  const player = document.getElementById("spotify-player");
  player.innerHTML = `
    <div class="player-info gap-x-4">
      <strong>${title}</strong>
      <span>${artist}</span>
    </div>
    <audio controls autoplay>
      <source src="${url}" type="audio/mpeg">
    </audio>
  `;
}
</script>



  </nav>

<header class="header bg-pale-secondary pb-4 text-center text-dark">
    <div class="container">

      <div class="row">
        <div class=" col-md-6 col-lg-4 mx-auto">
          <div class="text-center mt-4 font-weight-700">
            <p class="mb-6">
              <span class="rounded-circle">
                <img class="avatar avatar-xl" src="/img/bg/q.jpg" alt="avatar">
              </span>
            </p>
            <h6 class="font-weight-700">{{ .Site.Params.author }} </h6>
            {{ .Site.Params.description }}
          </div>
        </div>
      </div>
      <h5 dir="rtl" class="divider text-right text-dark"> دسته‌ها: {{ range .Site.Menus.main }}
        <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
        | تعداد نوشته‌ها {{ len .Site.RegularPages }}
      </h5>
    </div>
  </header><!-- /.header -->
