<div class="spotify-playlist bg-pale-warning">

  <div id="category-buttons" class="mb-3 text-center">
    <button onclick="filterTracks('ADK')">آ.د.ک</button>
    <button onclick="filterTracks('jaza')">جزا</button>
    <button onclick="filterTracks('tjart')">تجارت</button>
    <button onclick="filterTracks('ADM')">آ.د.م</button>
    <button onclick="filterTracks('mdani')">مدنی</button>
    <button onclick="filterTracks('all')">همـــه</button>
  </div>

  <div dir="rtl" class="spotify-tracklist">
    {{ range site.Data.playlist.songs }}
      <div class="spotify-track"
           data-category="{{ .category }}"
           onclick="selectTrack('{{ .title }}','{{ .artist }}','{{ .url }}', this)">
        <div class="track-info text-right">
          <strong>{{ .title }}</strong><br>
          <span>{{ .artist }}</span>
        </div>
      </div>
    {{ end }}
  </div>
</div>

<script>
function filterTracks(category) {
    document.querySelectorAll(".spotify-track").forEach(function(track) {
        if (category === "all" || track.dataset.category === category) {
            track.style.display = "";
        } else {
            track.style.display = "none";
        }
    });
}
</script>

  

