{{ define "main" }}
<nav class="bb-1 bg-pale-success" aria-label="breadcrumb">
        <div dir="rtl" class="container ">
          <ol class="breadcrumb px-0">
            <span > {{ partial "breadcrumb.html" . }}</span>
          </ol>
        </div>
      </nav>
<section class="section pt-3">
  <div class="container">
     
    <div style="border-radius: 5px;background:#fff;" class="container">
      <div dir="rtl" class="row gap-y ">
        <div id="b" class="col-md-7 mx-auto text-justify lead text-dark">
          
          <h6>چکیده</h6>
          <p>{{ .Content }}</p><br>
        </div>
        <div class="col-md-4 text-right">
            <h4 class="divider w-00"> مشخــصات کتاب</h4>
            <p>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>نویسنده</td>
                  <td>{{ .Params.author }}</td>
                </tr>{{ if and .Params.translator (ne .Params.translator "") }}
                <tr>
                <tr>
                  <td>مترجم</td>
                  <td>{{ .Params.translator }}</td>
                </tr>{{ end}}
                <td>انتشارات</td>
                <td>{{ .Params.publisher }}</td>
                </tr>
                <tr>
                  <td> سال چاپ</td>
                  <td>{{ .Params.year }}</td>
                </tr>
                <tr>
                  <td>صفحه</td>
                  <td>{{ .Params.pages }} صفحه</td>
                </tr>
                <tr>
                  <td> شروع /پایان</td>
                  <td>{{ .Params.start }}</td>
                </tr>
                <tr>
                  <td> ساعت مطالعه </td>
                  <td>{{ .Params.readingTime }} ساعت</td>
                </tr>
              </tbody>
            </table>
            </p>
            {{ partial "related.html" . }}
            {{ partial "share-buttons.html" . }}
          </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
